<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="resume-main">
	<div class="left-box">
		<br><br>
		<div class="profile">
			<img src="static/image.jpg">
		</div>
		<div class="content-box">
		<h2>Profile Info</h2>
		<hr class="hr1">
		<p class="p1">Not searching for job at this time</p>

		<h3>Language:</h3>
		<p class="p2">Russian</p>
		<div id="progress"></div>
		<p class="p2">English</p>
		<div id="progress1"></div>
		<p class="p2">Kazakh</p>
		<div id="progress2"></div>

		<br><br>
		<h2>My Skills</h2>
		<hr class="hr1">
		<br>
		<div class="col-div-6"><p class="p2">Linux</p></div>
		<div class="col-div-6">
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle1"></i>
		</div>
			<div class="clearfix"></div>
		<div class="col-div-6"><p class="p2">C++</p></div>
		<div class="col-div-6">
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle1"></i>
			<i class="fa fa-circle circle1"></i>
		</div>
			<div class="clearfix"></div>
		<div class="col-div-6"><p class="p2">Java 16.1</p></div>
		<div class="col-div-6">
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
		</div>
			<div class="clearfix"></div>
		<div class="col-div-6"><p class="p2">Python</p></div>
		<div class="col-div-6">
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle1"></i>
		</div>

			<div class="clearfix"></div>
			<br>
			<h2>interests</h2>
			<hr class="hr1">
			<br>
			<div class="col-div-3 col3">
				<i class="fa fa-futbol-o in"></i>
				<span class="inp">Football</span>
			</div>
			<div class="col-div-3 col3">
				<i class="fa fa-futbol-o in"></i>
				<span class="inp">Basket</span>
			</div>
			<div class="col-div-3 col3">
				<i class="fa fa-futbol-o in"></i>
				<span class="inp">Running</span>
			</div>
			<div class="col-div-3 col3">
				<i class="fa fa-futbol-o in"></i>
				<span class="inp">Games</span>
			</div>
		</div>
	</div>

	<div class="right-box">
		<h1>
			Adilet<br>
			<span>Temirgali</span>
		</h1>
		<p class="p3">Java/Python Developer, Pentester</p>

		<br>
		<h2 class="heading">Job experience</h2>
		<hr class="hr2">
		<br>
		<div class="col-div-4">
			<p class="p5">2021-2023</p>
			<span class="span1">Astana Hub</span>
		</div>
		<div class="col-div-8">
			<p class="p5">Developer</p>
			<span class="span1">Worked in a startup as a mobile Java developer</span>
		</div>
		<div class="clearfix"></div>
		<br>
		<div class="col-div-4">
			<p class="p5">2023-2029</p>
			<span class="span1">Tsarka</span>
		</div>
		<div class="col-div-8">
			<p class="p5">Pentester</p>
			<span class="span1">Gained experience in vulnerability detection and remediation at Tsarka</span>
		</div>
		<div class="clearfix"></div>
		<br>
		<div class="col-div-4">
			<p class="p5">2030-now</p>
			<span class="span1">Google</span>
		</div>
		<div class="col-div-8">
			<p class="p5">Lead cybersecurity analyst</p>
			<span class="span1">Well, it's Google, there's nothing to add here</span>
		</div>
		<div class="clearfix"></div>

		<br>
		<h2 class="heading">My Education</h2>
		<hr class="hr2">
		<br>
		<div class="col-div-4">
			<p class="p5">2021-2024</p>
			<span class="span1">Astana IT University</span>
		</div>
		<div class="col-div-8">
			<p class="p5">Cybersecurity</p>
			<span class="span1">Studied for a bachelor's degree at the leading IT university in the country</span>
		</div>
		<div class="clearfix"></div>
		<br>
		<div class="col-div-4">
			<p class="p5">2024</p>
			<span class="span1">MIT</span>
		</div>
		<div class="col-div-8">
			<p class="p5">Computer science</p>
			<span class="span1">Continued study for a master's degree in the USA MIT</span>
		</div>
		<div class="clearfix">
		</div>
	</div>
	<div class="clearfix">
	</div>

</div>
</body>
</html>